body{
   background-color: initial;
}

#AnetaS{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#AnnaT{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KarolinaH{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#NikolG{
   background-color: #434A42;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #ACA885;
   padding: 2%;
}

